.sgm-map {
    height: 300px;
    width: 100%;
}

.sgm-listings {
    max-height: 300px;
    overflow: auto;
    width: 100%;
}

.sgm-listings ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sgm-listings li {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    clear: left;
}

.sgm-listings li:hover {
    background-color: #fafafa;
}

.sgm-listings li span {
    cursor: pointer;
    text-decoration: underline;
}

.sgm-listings li.selected {
    background-color: #F6F6F6;
}

.sgm-listings div.icon {
    width: 35px;
    float: left;
}