.sgm-map {
    height: 300px;
    width: 100%;
}

.sgm-listings {
/*    max-height: 300px;*/
/*    overflow: auto;*/
    width: 100%;
}

.sgm-listings ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    max-height: 280px;
}

.sgm-listings li {
    border-bottom: 1px solid lightgray;
    padding: 5px;
    clear: left;
}

.sgm-listings li:hover {
    background-color: #fafafa;
}

.get_directions {
    cursor: pointer;
    text-decoration: underline;
}

.hrdiv {
    border-top: 1px solid lightgray;
    margin-top: 3px;
}

.sgm-directions input {
    line-height: normal;
    width: 80%;
}

.sgm-directions div {
    padding: 1px;
}

.sgm-listings li.selected {
    background-color: #F6F6F6;
}

.sgm-listings div.icon {
    width: 35px;
    float: left;
}